.body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.header-wrapper header{
    width: 100%;
    background: url("https://i.ytimg.com/vi/6THZMVLl_oQ/maxresdefault.jpg") no-repeat 50% 20% / cover;
    min-height: calc(100px + 15vw);
}

.left-col{
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}

.img-container{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.img-container img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0,0,0,0.18);
}

.img-container span{
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
}

.left-col h2{
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}

.left-col p{
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
}

.about{
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}

.about li{
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
}

.about li span{
    color: #1d1d1d;
    font-weight: 600;
}

.about::after{
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #ccc;
    height: 1px;
    width: 100%;
}

.content p{
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.8rem;
}

.content ul{
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.content ul li{
    font-size: 1.3rem;
}

.right-col nav{
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
}

.right-col nav ul{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.right-col nav ul li button{
    text-transform: uppercase;
    color: #818181;
    background: none;
    border: none;
    outline: none;
}

.right-col nav button{
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.right-col nav button:hover{
    opacity: 0.8;
}

.right-col .photos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
}

.right-col .photos img{
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

.about-settings{
   position: relative;
}

.settings-parrafo{
    position: relative;
    left: 40%;
}

.map-container{
    height: 400px;
    width: 100%;
}


@media(min-width: 868px) {
    .cols-container{
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }

    .left-col{
        padding: 25px 0;
    }

    .right-col nav ul{
        flex-direction: row;
        gap: 30px;
    }

    .right-col .photos{
        height: 365px;
        overflow: auto;
        padding: 0 0 30px;
    }

    .about-settings{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }

    .settings-parrafo{
        position: relative;
        left: 0%;
    }

    .map-container{
        height: 500px;
        width: 100%;
    }
}

@media(min-width: 1017px) {
    .left-col {
        margin: 0;
        margin-right: auto;
    }

    .right-col nav{
        flex-direction: row;
    }

    .right-col nav button{
        margin-top: 0;
    }
}